.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:8px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .currency-label{
    margin:auto;
    font-weight: bolder;
    font-size: x-large;
  }
  
  .container {
    padding: 10px 16px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:10px;
  }
input{
    width: 90%;
    height:20px;
    border-radius:10px 10px 10px 10px;
}
  .CTA-container{
      display: flex;
      justify-content: space-around;
  }
.btn{
  margin-top: 5px;
  border-radius:5px 5px 5px 5px;
  width:100px;
  height:40px
}

  .buy-btn{
    background-color: rgb(145, 228, 22);
  }
  
  .buy-btn:disabled{
    background-color: rgb(132, 160, 89);
  }

  .sell-btn{
    color:white;
    background-color:rgb(175, 18, 18);
  }
  .sell-btn:disabled{
    color:white;
    background-color:rgb(156, 78, 78)
  }
  .err-msg{
    color:red!important;
    margin:2px 2px 0 !important;
    font-size: small!important;
    }

    .modal{
        position: absolute;
        /* width:50%; */
        height:40%;
        top: 30%;
        left: 30%;
        padding:20px;
        background-color: rgb(160, 243, 243);
    }

    .modal-data-container{
      display:flex;
      flex-direction: column;
      align-items: center;
    }

    .modal-heading-wrapper{
      display: flex;
      justify-content: center;
      margin:5px;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

.modal-buttons-container{
  display:flex;
  justify-content: space-between;
  gap:30px;
  margin:5px 10px 5px;
}
.confirm-btn{
  background-color: rgb(145, 228, 22);
}
.cancel-btn{
  color:white;
  background-color:rgb(175, 18, 18);
}